[*.cs]

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = error

# SA1518: Use line endings correctly at end of file
dotnet_diagnostic.SA1518.severity = error
